# Python
*.pyc
__pycache__/

# Entorno Virtual
env/
venv/
.env
.env.*

# Django
*.log
*.sqlite3
staticfiles/

# Google Cloud credentials (NO subir a GitHub)
rich-boulevard-479315-q7-8a799ab643ac.json

.vscode/