{% extends "base.html" %}
{% block contenido %}

<h2>Resultados SQL</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th><th>Título</th><th>Habilidad</th><th>Años</th>
        </tr>
    </thead>

    <tbody>
        {% for fila in resultados %}
        <tr>
            <td>{{ fila.0 }}</td>
            <td>{{ fila.1 }}</td>
            <td>{{ fila.2 }}</td>
            <td>{{ fila.3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
